<div class="flex-row w-3/4 mx-auto">
    <mat-accordion class="">
      <mat-expansion-panel hideToggle >
        <mat-expansion-panel-header class="bg-zinc-200">
          <mat-panel-title>
            Agregar Alumnos
          </mat-panel-title>
          <a class="mr-3">
            <mat-icon class="edit__color">add</mat-icon>
        </a>
        </mat-expansion-panel-header>
  
        <app-formulario></app-formulario>
  
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  
  <div>
    <app-table></app-table>
  </div>